executor {
     perJobMemLimit=true
}

 workDir =    "${baseDir}/../../work"
 tmpDir =     "${baseDir}/../../tmp"

params {
  outdir =    "${baseDir}/../../results_tmp"
  reportdir = "${baseDir}/../../reports"

  genomes_base = "/nfs/cellgeni/genomes"
  clusterOptions = false
}

profiles {
  farm5_lsf_singularity {
    includeConfig './conf/lsf_singularity.config'
  }
}

// Capture exit codes from upstream processes when piping
process.shell = ['/bin/bash', '-euo', 'pipefail']

timeline {
  enabled = true
  file = "${params.reportdir}/timeline.html"
}
trace {
  enabled = true
  file = "${params.reportdir}/trace.txt"
}
