env.PATH = "$baseDir/utils:$PATH"

process {
  cpus   =  1
  memory =  4.GB
  time   =  12.h              // 140: run time exceeded. We set it to the normal queue maximum.
                              // 130: memory limit exceeded.

  maxRetries = 2
  maxErrors = '-1'
  errorStrategy = 'ignore'

}

params {
  max_memory = 128.GB
  max_cpus = 16
  max_time = 12.h
}