env.PATH = "$baseDir/utils:$PATH"

docker {
  enabled = false
}


process {
  cache = 'lenient'
  executor = 'lsf'
}

executor {
    name = 'lsf'
    queueSize = 2000
    poolSize = 2
    submitRateLimit = '1 sec'
    killBatchSize = 50
    pollInterval = '1 sec'
    queueStatInterval = '1 sec'
    dumpInterval = '1 sec'
    exitReadTimeout= '1 sec'
}

singularity {
  enabled     = true
  autoMounts  = true
  cacheDir = '/lustre/scratch118/humgen/resources/containers/'
  runOptions = '--dns 172.18.255.1,172.18.255.2,172.18.255.3'
  envWhitelist = 'HOSTNAME,SSH_CONNECTION,SSH_CLIENT,CVS_RSH'
}

params {
  saveReference = true
  // Max resources requested by a normal node on milou. If you need more memory, run on a fat node using:
  //   --clusterOptions "-C mem512GB" --max_memory "512GB"
  max_memory = 200.GB
  max_cpus = 16
  max_time = 240.h
}

